@use '../../styles/mixins.scss';

.wrapper {
  box-sizing: initial;
  position: relative;
  width: 5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  border: none;
  box-shadow: 0 0px 2px 1px var(--secondary-color);
  background-color: transparent;
  cursor: pointer;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &::after {
    @include mixins.transition(left);
    position: absolute;
    top: 0;
    content: '';
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--primary-color);
    border-radius: 50%;
  }

  &.stateOne::after {
    left: 50%;
  }
  
  &.stateTwo::after {
    left: 0;
  }

}

[data-theme=dark] .defaultIcons {
  filter: invert(1);
}