@use '../../../styles/mixins.scss';

.wrapper {
  @include mixins.headerDropdown();

  width: 23rem;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}