@use '../../../../styles/mixins.scss';

.wrapper {
  @include mixins.paper(var(--secondary-color), 0);
  width: 60%;
  overflow: hidden;
  border-radius: 0.5vw;

  margin: 5vh auto;
}

.info {
  display: flex;
  gap: 4rem;
  padding: 2rem;
  
}

.photographerName {
  font-size: 2rem;
}

.photoContainer {
  font-size: 0;
}