.photoListContainer {
  --list-gap: 1rem;
  --number-of-columns: 2;

  list-style: none;
  display: grid;
  grid-template-columns: repeat(var(--number-of-columns), 1fr);
  gap: var(--list-gap);
  padding: 0 1rem;
  margin: auto;
  width: 150rem;
  max-width: var(--content-width);
}

.listColumn {
  display: flex;
  flex-direction: column;
  gap: var(--list-gap);
  font-size: 0;
}
