@use '../../styles/mixins.scss';

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.wrapper {
  @include mixins.animation(fadein);

  background-color: #00000088;
  backdrop-filter: blur(5px);

  position: fixed;
  inset: 0;
  z-index: 100;

  overflow: auto;

  display: grid;
  justify-items: center;
  align-items: center;

  &.closing {
    @include mixins.animation(fadeout);
  }
}

.closeBtn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 101;
}
