.wrapper {
  position: sticky;
  top: 0;
  z-index: 10;

  background-color: var(--background-color);
  box-shadow: 0 1px 5px 0 var(--primary-color);
}

.headerContent {
  flex: 1;
  max-width: var(--content-width);
  margin: auto;

  height: 8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}