@use '../../styles/breakpoints.scss';
@use '../../styles/mixins.scss';

.footerContainer {
  background-color: var(--primary-color);
  box-shadow: 0 -2px 5px 0 var(--secondary-color);
  color: var(--primary-contrast);

  --height: 22rem;

  height: var(--height);

  position: sticky;
  bottom: calc(var(--height) * -1 + 3rem);
  @include mixins.transition(bottom, transform);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 0.75rem 0 2rem;

  & > button {
    width: 4.5rem;
    height: 1.5rem;
    @include mixins.transition(transform);
  }

  &.show {
    bottom: 0;

    & > button {
      transform: rotateX(180deg);
    }
  }

  @include breakpoints.sm {
    --height: 12rem;
  }
}

.footerContent {
  max-width: var(--content-width);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  @include breakpoints.sm {
    flex-direction: row;
  }
}

.footerColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3rem;

  @include breakpoints.sm {
    justify-content: space-between;
    gap: 0;
  }
}

.guswillemannLinks {
  margin-top: -2rem;
  display: grid;
  grid-template-columns: repeat(3, 3rem);
  justify-content: center;
  gap: 2rem;
  font-size: 0;
}