.wrapper {
  --transition-duration: 200ms;

  position: relative;

  cursor: pointer;
}

.info {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;

  width: 100%;
  height: 20rem;
  max-height: 100%;
  
  transition: transform var(--transition-duration) ease-in-out;
  transform-origin: 50% 100%;
  transform: scaleY(0);

  background: linear-gradient(0deg, var(--secondary-color) 0%, var(--secondary-color) 35%, transparent 100%);
  color: var(--primary-color);
  text-shadow: -1px -1px 5px var(--primary-contrast), 1px -1px 5px var(--primary-contrast), -1px 1px 5px var(--primary-contrast), 1px 1px 5px var(--primary-contrast);

  padding: 1rem;

  span, p {
    opacity: 0;
  }

  span {
    font-size: 1.6rem;
  }

  p {
    font-weight: 700;
    font-size: 2rem;
  }

  .wrapper:hover &, .wrapper:focus-within & {
    transform: scaleY(1);

    span, p {
      transition: opacity var(--transition-duration) ease-in-out 100ms;
      opacity: 1;
    }
   }
}
